# Environments
.env
.env.local
.env.*.local
.env.prod.example
.env.dev.example
.env.*


# Docker
.docker/
data/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
media/
static/
venv/

# Node / Next.js
nextjs/node_modules/
frontend/node_modules/
nextjs/.next/
nextjs/out/
.DS_Store

# Logs
*.log
npm-debug.log*jwtauth/core
signoz/
backup/files/
backup/*.log
backup/files/
*.dump
*.tar.gz
*.rdb
**/logs/*.log
jwtauth/logs/ai_agent.log
jwtauth/logs/*.log