
services:
  db:
    image: pgvector/pgvector:pg16
    container_name: newsmartagent-db
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=new_smart_db
      - POSTGRES_USER=zubayer
      - POSTGRES_PASSWORD=mypassword 
    restart: always
    networks:
      - smart-network
      
  redis:
    image: redis:7-alpine
    container_name: newsmartagent-redis
    restart: always
    networks:
      - smart-network

  backend:
    build: ./jwtauth
    container_name: newsmartagent-django
    command: gunicorn jwtauth.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 --workers 4 --threads 2
    volumes:
      - ./jwtauth:/app
      - static_volume:/app/static
      - media_volume:/app/media
    
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://zubayer:mypassword@newsmartagent-db:5432/new_smart_db
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - REDIS_URL=redis://newsmartagent-redis:6379/0
    depends_on:
      - db
      - redis
    networks:
      - smart-network


  frontend:
    build: ./nextjs
    container_name: newsmartagent-nextjs
    restart: always
    depends_on:
      - backend
    networks:
      - smart-network

  nginx:
    build: ./nginx
    container_name: newsmartagent-nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
       - backend
       - frontend
    restart: always
    networks:
      - smart-network


  celery_worker:
    build: ./jwtauth
    container_name: newsmartagent-celery-worker
    command: celery -A jwtauth worker -l info
    volumes:
      - ./jwtauth:/app
    env_file:
      - .env
    
    environment:
      - DATABASE_URL=postgres://zubayer:mypassword@newsmartagent-db:5432/new_smart_db
      - REDIS_URL=redis://newsmartagent-redis:6379/0

    depends_on:
      - db
      - redis
    networks:
      - smart-network

  celery_beat:
    build: ./jwtauth
    container_name: newsmartagent-celery-beat
    command: celery -A jwtauth beat -l info
    volumes:
      - ./jwtauth:/app
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://zubayer:mypassword@newsmartagent-db:5432/new_smart_db
      - REDIS_URL=redis://newsmartagent-redis:6379/0
    depends_on:
      - db
      - redis
    networks:
      - smart-network

  n8n:
    image: n8nio/n8n:latest
    container_name: newsmartagent-n8n
    environment:
      # N8N_HOST: n8n.newsmartagent.com
      # WEBHOOK_URL: https://n8n.newsmartagent.com
      - N8N_HOST=localhost # অথবা আপনার পিসির লোকাল আইপি
      - WEBHOOK_URL=http://localhost/n8n/
      - N8N_BASE_URL=http://localhost/n8n/
      - N8N_PATH=/n8n/
      - N8N_PROTOCOL=http
      - GENERIC_TIMEZONE=Asia/Dhaka
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - backend
      - redis
    restart: always 
    networks:
      - smart-network
  
  flower:
    image: mher/flower
    container_name: newsmartagent-flower
    command: celery --broker=redis://newsmartagent-redis:6379/0 flower --basic_auth=admin:1234
    environment:
      - CELERY_BROKER_URL=redis://newsmartagent-redis:6379/0
      - FLOWER_BASIC_AUTH=admin:1234
    ports:
      - "5555:5555"
    depends_on:
      - redis
      - celery_worker
    networks:
      - smart-network


  cloudflare-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: newsmartagent-cloudflare-tunnel
    user: root
    restart: always
    dns:
      - 1.1.1.1 
    networks:
      - smart-network
    volumes:
      - /home/md-zubayer/.cloudflared:/etc/cloudflared:ro
    command: tunnel --config /etc/cloudflared/config-docker.yml run
    depends_on:
      - nginx


volumes:
  static_volume:
    name: newsmartagent-static
  media_volume:
    name: newsmartagent-media
  n8n_data:
    name: newsmartagent-n8n-data


networks:
  smart-network:
    driver: bridge